<h3>Good News Archive</h3>

<ul>
  {{#each model.goodnewsarchive as |entry|}}
  <li><a href={{entry.link}}>{{entry.title}}</a></li>
  {{/each}}
</ul>

<h3>Resources</h3>

<ul>
  {{#each model.resource as |resource|}}
    {{#if resource.title_link}}
    <li><a href={{resource.title_link}}>{{resource.title}}</a> - {{resource.subtext}}</li>
    {{else}}
    <li>{{resource.title}} - {{resource.subtext}}</li>
    {{/if}}
  {{/each}}
</ul>
