<section class="staff-main container">
  <div class="staff-block">
    {{office-staff}}

  </div>

  <div class="staff-block">
    {{sunday-school-staff}}

  </div>

  <div class="staff-block">
    <h3>Consistory</h3>
    {{consistory-list}}
    <h4>Elders</h4>
    <ul>
      <li>Marie Hadden</li>
      <li>Dawn Goodman</li>
      <li>Candy Matthews</li>
      <li>Bob Briggs</li>
    </ul>
    {{consistory-list}}
    <h4>Deacons</h4>
    <ul>
      <li>Dave Borland</li>
      <li>Bruce Hadden</li>
      <li>Todd Windus</li>
      <li>Marge Bixby</li>
    </ul>
  </div>
</section>

{{outlet}}
