<section class="staff-main container">

  <div class="staff-block">
    {{office-staff officestaff=model.officestaff}}

  </div>

  <div class="staff-block">
    {{sunday-school-staff sundayschoolstaff=model.sundayschoolstaff}}

  </div>

  <div class="staff-block">
    <h3>Consistory</h3>
    {{consistory-list}}
    <h4>Elders</h4>
    <ul>
      {{#each model.elder as |member|}}
      <li>{{member.name}}</li>
      {{/each}}
    </ul>
    {{consistory-list}}
    <h4>Deacons</h4>
    <ul>
      {{#each model.deacon as |member|}}
      <li>{{member.name}}</li>
      {{/each}}
    </ul>
  </div>
</section>

{{outlet}}
